/* 全体の色 */
body {
    background-color: black;
    font-family: Arial, sans-serif;
  }
  
  .tab, .subtab {
    display: inline-block;
    padding: 20px;/*枠と文字のスペース*/
    margin: 2px;/*周りの要素とのスペース*/
    border: 1px solid orange;/*solid : 直線*/
    cursor: pointer;/*カーソルを合わせると矢印*/
    background-color: black;
    color: orange;
    box-shadow: 0 0 6px  orange;
    border-radius: 4px;/*角の丸さ*/
    transition: box-shadow 0.3s;/*0.3sで影になる*/
  }
  /**/
  .tab:hover, .subtab:hover {
    box-shadow: 0 0 12px orange, 0 0 24px orange;
  }
  .active {
    background-color: #220000;
    box-shadow: 0 0 16px orange;
  }

  .content {
    display: none;/*「非subtabを非表示」*/
    padding: 10px;
    border: 1px solid orange;
    background-color: black;
    box-shadow: 0 0 30px orange;
    border-radius: 4px;
    margin-top: 8px;
  }

  .subcontent {
    display: none;
    padding: 10px;
    border: 1px solid orange;
    background-color: black;
    color: orange;
    border-radius: 4px;
    margin-top: 8px;
  }
   /*subtab内の.showを表示*/
  .show {
    display: block;
  }
  
  /* コントロールボタン（＋−ボタン） */
  .control-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .control-buttons button {
    width: 50px;
    height: 40px;
    padding: 0;
    margin: 1px 0;
    font-size: 30px;
    color: lightblue;
    background-color: black;
    border: 1px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 60px lightblue;
    cursor: pointer;
    transition: box-shadow 0.3s ease ;
  }
  
  .control-buttons button:hover {
    box-shadow: 0 0 12px lightblue, 0 0 24px lightblue;
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}
th, td {
    border: 1px solid orange;
    padding: 8px;
    text-align: left;
}

  #correct {
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    margin: 2px;
    border: 1px solid red;
    cursor: pointer;
    background-color: rgba(233, 13, 13, 0.267);
    color: red;
    box-shadow: 0 0 6px red;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    width: 200px;
    text-align: center;
  }
  #correct:hover {
    box-shadow: 0 0 12px red, 0 0 24px red;
  }
  

#incorrect {
  font-size: 20px;
  display: inline-block;
  padding: 20px;
  margin: 2px;
  border: 1px solid rgb(0, 102, 255);
  cursor: pointer;
  background-color: rgba(20, 40, 228, 0.178);
  color: rgb(0, 102, 255);
  box-shadow: 0 0 6px rgb(0, 102, 255);
  border-radius: 4px;
  transition: box-shadow 0.3s;
  width: 200px;
  text-align: center;
}
#incorrect:hover {
  box-shadow: 0 0 12px  rgb(0, 102, 255), 0 0 24px  rgb(0, 102, 255);
}



#answer {
  font-size: 30px;
  padding: 20px;
  margin: 2px;
  border: 1px solid white;
  cursor: pointer;
  background-color: rgba(109, 106, 106, 0.938);
  color: white;
  box-shadow: 0 0 6px white;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  flex: 5;  /* 幅を全体の5分の1に設定 */
  text-align: center;
}

#getanswer {
  font-size: 15px;
  display: flex;                     
  align-items: center;               
  justify-content: center;         
  padding: 20px;
  margin: 2px;
  border: 1px solid white;
  cursor: pointer;
  background-color: rgba(109, 106, 106, 0.938);
  color: white;
  box-shadow: 0 0 6px white;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  flex: 1;                          
  height: 50px;                    
  text-align: center;
}

#getanswer:hover {
  box-shadow: 0 0 12px white, 0 0 24px  white;
}

  